<ul class="list-unstyled">
    <% microposts.each do |mic| %>
        <li class="media mb-3">
            <img class="mr-2 rounded" src="<%= gravatar_url(mic.user, { size: 50 }) %>" alt="">
            <div class="media-body">
                <div>
                    <%= link_to mic.user.name, user_path(mic.user) %> <span class="text-muted">posted at <%= mic.created_at %></span>
                </div>
                <div>
                    <p class="mb-0"><%= mic.content %></p>
                </div>
                <div>
                    <% if current_user == mic.user %>
                        <%= link_to "Delete", mic, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                    <% end %>
                </div>
                <%= render 'favorites/like_button', micropost: mic %>
            </div>
        </li>
    <% end %>
    <%= paginate microposts %>
</ul>